#blurCalendar.active{
    filter: blur(5px);
}
#popup{
    position: fixed;
    top: 30%;
    left: 40%;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transform: translate(-10%,-0%);
    transition: 1s; 
    box-shadow: 3px 3px 3px rgb(85, 85, 210);  
}
#popup.active{
    top: 40%;
    opacity: 1;
    visibility: visible;   
}

.eventPopup{
    opacity: 0;
    visibility: hidden;
    background-color: red ;
}
.eventDiv:hover .eventPopup{
    opacity: 1; 
    visibility: visible;
    background-color: white;
    color: black;
    border: 1px solid rgb(230, 230, 230);
    box-shadow: 2px 2px 2px 2px rgb(220, 216, 216);
}

